[submodule "libs/WWCP_S2"]
	path = libs/WWCP_S2
	url = https://github.com/OpenChargingCloud/WWCP_S2.git
[submodule "libs/s2-python"]
	path = libs/s2-python
	url = https://github.com/flexiblepower/s2-python.git
[submodule "libs/s2-rust"]
	path = libs/s2-rust
	url = https://github.com/flexiblepower/s2-rust.git
[submodule "libs/Styx"]
	path = libs/Styx
	url = https://github.com/Vanaheimr/Styx.git
[submodule "libs/Hermod"]
	path = libs/Hermod
	url = https://github.com/Vanaheimr/Hermod.git
[submodule "libs/s2-json"]
	path = libs/s2-json
	url = https://github.com/flexiblepower/s2-json.git
[submodule "libs/s2-connect"]
	path = libs/s2-connect
	url = https://github.com/flexiblepower/s2-connect.git
[submodule "libs/s2auth"]
	path = libs/s2auth
	url = https://github.com/flexiblepower/s2auth.git
[submodule "libs/s2-documentation"]
	path = libs/s2-documentation
	url = https://github.com/flexiblepower/s2-documentation.git
